* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
path {
  pointer-events: none;
}
body {
  background-color: #eef5db;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background: linear-gradient(#f3a712 50%, #e69900 50%);
  /* background-color: #f3a712; */
  display: flex;
  justify-content: center;
}
.nav-bar .wrapper {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;

  width: 100%;
  max-width: 1000px;
}
.nav-bar input {
  height: 2em;
  margin: 1.5rem;
  width: 250px;
  font-size: 20px;
  padding: 0 0.5rem;
  border-radius: 10px;
  border: none;
  /* margin-right: auto; */
}
.nav-bar ul {
  position: absolute;
  right: 0;
  height: 100%;
}
.nav-bar li {
  display: flex;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-bar .star {
  width: 40px;
  fill: white;
  text-shadow: 0 0 3px black;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
  margin: 0;
}

.recipes-grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, 20em);
  gap: 1rem;
  padding: 1.5rem 0.5rem;
  max-width: 1000px;
  place-content: center;
  margin: auto;
}
.recipe-container {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 250px;
  margin: 0.5rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.1s ease, scale 0.1s ease;
}

.recipe {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  border-radius: 20px;
  overflow: hidden;

  background-color: white;
  cursor: pointer;
  user-select: none;
  scale: 1;
  transition: box-shadow 0.1s ease, scale 0.1s ease;
}
.recipe-container:hover {
  box-shadow: 0 0 15px white;
}
.recipe:hover {
  box-shadow: 0 0 15px white;
}
.recipe:active {
  box-shadow: 0 0 15px white;
  scale: 0.98;
}

.recipe img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.recipe h1,
.recipe h2 {
  padding: 0 0.5rem;
}
.recipe h1 {
  font-weight: 350;
  font-size: 24px;
}
.recipe h2 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  width: 90%;
  text-align: end;
  margin-top: auto;
  padding-bottom: 7px;
}
.star {
  user-select: none;
  width: 70px;
  stroke: rgb(255, 255, 255);
  stroke-width: 1px;
  fill: none;
  filter: drop-shadow(0 0 1px rgb(0, 0, 0));
  scale: 1;
  transition: all 0.1s ease;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 0.5rem;
  outline: 2px solid rgba(255, 255, 255, 0);
  padding: 0.3rem;
}
.recipe-container .star {
  stroke: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  width: 40px;
}
.recipe-container.favourite .star {
  stroke: white;
  fill: white;
  filter: drop-shadow(0 0 2px black);
}
.recipe-container:hover .star {
  stroke: white;
  filter: drop-shadow(0 0 2px black);
}
.star:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.recipe-container .star:hover {
  outline: 1px solid rgba(255, 255, 255, 0.4);
}
.star:active {
  scale: 0.9;
  fill: white;
}
.recipe:active + .star {
  transform: translate(-2.5px, 2px);
  scale: 0.98;
}

.recipe-page {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  font-size: 20px;
}

.recipe-page .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-page h1 {
  font-weight: 500;
}
.recipe-page .image {
  width: 100%;
  border-radius: 20px;
}
.recipe-page span {
  display: flex;
  margin-right: 0.5rem;
}
.recipe-page p {
  font-weight: 500;
  margin: 1rem 0;
}
.recipe-page a {
  font-weight: 400;
  color: #e69900;
  word-wrap: break-word;
}
.recipe-page a:hover {
  text-decoration: underline;
}
.recipe-page .time {
  display: flex;
  align-items: center;
}
.recipe-page .clock {
  width: 30px;
}
.recipe-page ul {
  font-weight: 500;
}
.recipe-page li {
  font-weight: 400;
  margin: 0.5rem 0 0.5rem 1.5rem;
}

.footer {
  background-color: #e69900;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.footer h2 {
  color: #fff7e7;
  font-weight: 500;
  font-size: 14px;
  padding: 1rem;
}
